In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
df_sp = spark.read.csv('work/test3.csv', header=True, inferSchema=True)
df_sp.show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|  n1| 31|        10| 30000|
|  n2| 30|         8| 25000|
|  n3| 29|         4| 20000|
|  n4| 24|         3| 20000|
|  n5| 21|         1| 15000|
|  n6| 23|         2| 18000|
+----+---+----------+------+

In [6]:
# filter operations
# less than 20000
df_sp.filter("salary<=20000").select(['name', 'age']).show()

+----+---+
|name|age|
+----+---+
|  n3| 29|
|  n4| 24|
|  n5| 21|
|  n6| 23|
+----+---+

In [8]:
df_sp.filter(df_sp['salary']<=20000).show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|  n3| 29|         4| 20000|
|  n4| 24|         3| 20000|
|  n5| 21|         1| 15000|
|  n6| 23|         2| 18000|
+----+---+----------+------+

In [11]:
df_sp.filter((df_sp['salary']<=20000) & (df_sp['salary']>=16000)).show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|  n3| 29|         4| 20000|
|  n4| 24|         3| 20000|
|  n6| 23|         2| 18000|
+----+---+----------+------+

In [12]:
df_sp.filter(~(df_sp['salary']<=20000)).show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
|  n1| 31|        10| 30000|
|  n2| 30|         8| 25000|
+----+---+----------+------+